<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Register_servlet</servlet-name>
        <servlet-class>com.tech.blog.servlet.Register_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login_servlet</servlet-name>
        <servlet-class>com.tech.blog.servlet.Login_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logoutservlet</servlet-name>
        <servlet-class>com.tech.blog.servlet.Logoutservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Editservlet</servlet-name>
        <servlet-class>com.tech.blog.servlet.Editservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addpostservlet</servlet-name>
        <servlet-class>com.tech.blog.servlet.Addpostservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Translate</servlet-name>
        <servlet-class>com.tech.blog.servlet.Translate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>news</servlet-name>
        <servlet-class>news</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register_servlet</servlet-name>
        <url-pattern>/Register_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login_servlet</servlet-name>
        <url-pattern>/Login_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logoutservlet</servlet-name>
        <url-pattern>/Logoutservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editservlet</servlet-name>
        <url-pattern>/Editservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addpostservlet</servlet-name>
        <url-pattern>/Addpostservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Translate</servlet-name>
        <url-pattern>/Translate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>news</servlet-name>
        <url-pattern>/news</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
